@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
:root {
  --font-family-main: "Rubik", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-size-default: 1.125rem;
  --color-primary-blue: rgb(88, 71, 235);
  --color-light-red--work: rgb(255, 140, 102);
  --color-soft-blue: hsl(195, 74%, 62%);
  --color-light-red--study: rgb(255, 92, 124);
  --color-lime-green: rgb(74, 207, 129);
  --color-violet: rgb(117, 54, 211);
  --color-soft-orange: rgb(241, 198, 91);
  --color-very-dark-blue: rgb(15, 20, 36);
  --color-dark-blue: rgb(28, 31, 74);
  --color-desaturated-blue: rgb(111, 118, 200);
  --color-pale-blue: rgb(189, 193, 255);
  --color-offwhite-blue: rgb(236, 237, 255);
  --transition-default: all 0.3s ease;
}

.card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.card__background {
  height: 33%;
  z-index: 1;
  overflow: hidden;
}
.card__background--user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  height: 65%;
  background-color: var(--color-primary-blue);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10%;
}
.card__background--user img {
  width: clamp(4rem, 5vw, 6vw);
  border: 3px solid white;
  border-radius: 100%;
  height: auto;
  margin-bottom: 15%;
}
.card__background--user span {
  color: var(--color-pale-blue);
  font-size: clamp(0.8rem, 1.2vw, 1.8vw);
}
.card__background--user h1 {
  font-size: clamp(1.5rem, 2.5vw, 10vw);
  letter-spacing: -1px;
  font-weight: var(--font-weight-light);
  color: var(--color-offwhite-blue);
  max-width: 60%;
}
.card__background img {
  z-index: 2;
  position: absolute;
  right: 1rem;
  top: -1rem;
  width: clamp(4.5rem, 5vw, 6vw);
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 82%;
  margin-top: -15%;
  z-index: 3;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--color-dark-blue);
  padding: 10%;
  cursor: pointer;
  transition: var(--transition-default);
}
.card__content:hover {
  filter: brightness(120%);
}
.card__content--user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20%;
  background-color: var(--color-dark-blue);
  height: calc(35% + 1rem);
  margin-top: -1rem;
  overflow: hidden;
  padding: 20% 12% 12% 12%;
}
.card__content--user span {
  color: var(--color-desaturated-blue);
  font-size: calc(0.7em + 0.5vw);
  cursor: pointer;
  transition: var(--transition-default);
}
.card__content--user span:hover, .card__content--user span:active {
  color: var(--color-pale-blue);
}
.card__row {
  justify-content: space-between;
  align-items: center;
}
.card__activity {
  color: var(--color-offwhite-blue);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-default);
}
.card__dots-btn {
  width: 1.8rem;
  padding: 5px;
  z-index: 5;
  cursor: default;
}
.card__time {
  font-size: clamp(1.5rem, 5vw, 4.5rem);
  color: var(--color-offwhite-blue);
  font-weight: var(--font-weight-light);
}
.card__time--last-week {
  color: var(--color-pale-blue);
  font-size: 0.9rem;
}
.card__user {
  grid-row: span 2;
}
.card__work .card__background {
  background-color: var(--color-light-red--work);
}
.card__play .card__background {
  background-color: var(--color-soft-blue);
}
.card__study .card__background {
  background-color: var(--color-light-red--study);
}
.card__exercise .card__background {
  background-color: var(--color-lime-green);
}
.card__social .card__background {
  background-color: var(--color-violet);
}
.card__self-care .card__background {
  background-color: var(--color-soft-orange);
}

@media (max-width: 60em) {
  .card__content {
    padding: 8%;
  }
  .card__content--user {
    font-size: 0.9rem;
  }
  .card__background--user {
    padding: 0.75rem;
  }
  .card__background--user span {
    margin-top: 10%;
  }
  .card__background--user img {
    margin-bottom: 8%;
  }
  .card__time {
    font-size: 2.4rem;
    line-height: 0.9;
  }
  .card__time--last-week {
    font-size: 0.8rem;
  }
}
@media (max-width: 47.9375em) {
  .card__background {
    height: 4.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card__background--user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    height: 10rem;
    padding: 2rem 1rem;
  }
  .card__background--user img {
    margin-bottom: 0;
  }
  .card__background--user span {
    margin: 0;
  }
  .card__background--user h1 {
    margin: 0;
    max-width: none;
  }
  .card__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    height: 6rem;
    margin-top: -2rem;
  }
  .card__content--user {
    height: 5rem;
    align-items: center;
    padding: 0;
    flex-direction: row;
    gap: 15%;
  }
  .card__content--user span {
    margin-top: 1rem;
  }
  .card__time {
    line-height: 0.8;
  }
  .card__row--first {
    grid-column: span 2;
  }
  .card__row--middle {
    display: flex;
    align-items: flex-end;
    justify-content: start;
  }
  .card__row--last {
    text-align: end;
    display: flex;
    align-items: flex-end;
    justify-content: end;
  }
}
@media (max-width: 24.1875em) {
  .card__background--user {
    gap: 4%;
  }
  .card__time--last-week {
    font-size: 0.8rem;
  }
}
@media (max-width: 24.1875em) {
  .card__background--user h1 {
    font-size: 1.3rem;
  }
}
.flex {
  display: flex;
}

.brightness120 {
  filter: brightness(120%);
}

.default-brightness {
  filter: brightness(100%);
}

.selected {
  color: var(--color-offwhite-blue) !important;
}

body {
  font-family: var(--font-family-main);
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--color-very-dark-blue);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
  width: 80vw;
  height: 34vw;
  max-width: 90rem;
}

@media (max-width: 47.9375em) {
  body {
    place-items: unset;
  }
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding: 2rem 1rem;
  }
}
