@import "variables";
@import "card";

body {
  font-family: var(--font-family-main);

  display: grid;
  place-items: center;

  height: 100vh;
  background-color: var(--color-very-dark-blue);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;

  width: 80vw;
  height: 34vw;
  max-width: 90rem;
}

// MOBILE VIEW
@media (max-width: 47.9375em) {
  body {
    place-items: unset;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    width: 80%;
    height: auto;

    padding: 2rem 1rem;
  }
}
